**/*.csv
**/*.tsv
**/*.log
**/*.dta
**/*.sav
**/*.sas7bdat
**/*.rdata
**/*.rds
**/*.xlsx
**/*.xls
**/*.db
*.xlsx
**/*.txt
# artefacts locaux, jamais versionnés
__pycache__/
**/*.pyc
.DS_Store
**/.DS_Store
**/~$*
